.slider
    // Slider main container главный контейнер
    .education-slider.swiper-container
    // Additional required wrapper обязательная оболочка
    .swiper-wrapper
        // Slides слайды
        .swiper-slide 
            .slider__contant
                p.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием.
                                |Квалификация: практический психолог.
        .swiper-slide 
            .slider__contant
                p.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием.
                                |Квалификация: практический психолог.
        .swiper-slide 
            .slider__contant
                p.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием.
                                |Квалификация: практический психолог.
        .swiper-slide 
            .slider__contant
                p.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием.
                                |Квалификация: практический психолог.
        .swiper-slide 
            .slider__contant
                p.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием.
                                |Квалификация: практический психолог.
        .swiper-slide 
            .slider__contant
                p.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием.
                                |Квалификация: практический психолог.   
    // If we need pagination если нужна навигация
    .swiper-pagination
    // If we need navigation buttons стрелки управления
    .swiper-button-prev
    .swiper-button-next
    // If we need scrollbar полоса прокрутки
    .swiper-scrollbar
