.adress__text {
    text-align: center;
    font-size: 1.4rem;
    line-height: 140%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #565b62;
}
.adress__text-bold {
    font-weight: bold;
    font-size: 1.8rem;
    color: #646c79;
}
