.info__switch {
    display: none;
}
.accordion {
    position: relative;
    padding: 0;
}
.info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    background: #ffffff;
    box-shadow: 0rem 10rem 80rem rgba(157, 157, 157, 0.09), 0rem 3.01rem 24.1177rem rgba(157, 157, 157, 0.0456112),
        0rem 1.25rem 1.001rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    padding: 0 2rem;
    margin: 2rem 0;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.24rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #828282;
}

.info__switch:checked ~ .info__body {
    max-height: 100%;
}
#info__body_1 + label.info__headline,
#info__body_2 + label.info__headline,
#info__body_3 + label.info__headline,
#info__body_4 + label.info__headline,
#info__body_5 + label.info__headline,
#info__body_6 + label.info__headline,
#info__body_7 + label.info__headline,
#info__body_8 + label.info__headline {
    position: relative;
    z-index: 2;
}
#info__body_1 + label.info__headline button.info__arrow,
#info__body_2 + label.info__headline button.info__arrow,
#info__body_3 + label.info__headline button.info__arrow,
#info__body_4 + label.info__headline button.info__arrow,
#info__body_5 + label.info__headline button.info__arrow,
#info__body_6 + label.info__headline button.info__arrow,
#info__body_7 + label.info__headline button.info__arrow,
#info__body_8 + label.info__headline button.info__arrow {
    position: relative;
    z-index: -1;
}
.info__arrow-top {
    top: 5rem;
}
.info__arrow-tops {
    top: 2rem;
}
.info__arrow {
    background-image: none;
    background: transparent;
    left: 88%;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    &::before {
        content: "";
        position: absolute;
        left: 0.7rem;
        top: 0.8rem;
        width: 1.2rem;
        border: 0.1rem solid#fff;
        transform: rotate(-48deg) translateY(6px);
    }
    &::after {
        content: "";
        position: absolute;
        left: 0.8rem;
        top: 0.8rem;
        width: 1.2rem;
        border: 0.1rem solid#fff;
        transform: rotate(48deg) translateY(6px);
    }
}
.info__switch:checked + .info__headline button.info__arrow {
    transform: rotate(180deg) translateY(1rem);
}
.info__headline {
    display: block;
    position: relative;
    margin-top: 1rem;
    padding-bottom: 1.9rem;
    user-select: none;
    font-weight: normal;
    cursor: pointer;
    background: #565b62;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.96rem;
    font-feature-settings: "pnum" on, "lnum" on;
}
a.info__links {
    display: block;
    margin-left: 1.5rem;
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.96rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
    width: 83.5%;
    margin-top: -0.5rem;
}
@media screen and (min-width: 540px) {
    .info__arrow-top {
        top: 4.5rem;
    }
}
@media screen and (min-width: 640px) {
    .info__arrow-top {
        top: 3.5rem;
    }
}
@media screen and (min-width: 1020px) {
    .info__body {
        font-size: 1.8rem;
        line-height: 2.88rem;
    }
    .info__arrow-top {
        top: 4.2rem;
    }
}
