.head(style='background-image: url("/wp-content/themes/twentytwenty-child/img/psychologist.png");')
    .content
        include ../../blocks/title/title.pug
        include ../../blocks/text/text.pug
        include ../../blocks/min-text/min-text.pug
        //- form.form__block
        //-     h2.mainText Перезвонить вам?
        //-     p.secondText Оставьте свои контактные данные и мы свяжемся с вами в ближайшее время
        //-     .formInput
        //-         span
        //-         input.form__input-phone(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
        //-     a.btn__width(href="#open") Перезвонить мне
        //-     .form__policy
        //-         input.form__checkbox#modal__checkbox(type="checkbox" checked="")
        //-         label.form__pol(for="modal__checkbox") Вы соглашаетесь с 
        //-             a.form__policy-link(href="#!") условиями обработки персональных данных