.head(style='background-image: url("/wp-content/themes/twentytwenty-child/img/psychologist.png");')
    .content
        include ../../blocks/title/title.pug
        include ../../blocks/text/text.pug
        include ../../blocks/min-text/min-text.pug
