.addres
        a(href='#')
            svg(class="icons-address")
                use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#address")

        p.adress-text пр. Ленина, д.45, оф. 15
        p Москва, м. Московская