/*********** HEADER TOP ***************/
.header__container-top {
    width: 100%;
    display: flex;

    margin-top: 1.5rem;
}
.header__container-logo {
    margin-left: 0%;
    padding: 5px;
    width: 15.3rem;
    height: 17.3rem;
    svg {
        width: 100%;
        height: 100%;
    }
}
