.contact
        a(href='#')
            svg(class="icons-tel")
                use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#tel")

    p.contacts Телефон: 
        a(href="tel:+ 7 800 120-12-04") + 7 800 120-12-04
    p.contacts  Ежедневно с 10 до 20 ч.