header.header(style='background-image: url("/wp-content/themes/twentytwenty-child/img/psychologist.png");')
    include ../../blocks/headertop/headertop.pug
    include ../../blocks/nav/nav.pug
        