.text {
    width: 35.4rem;
    height: 7.5rem;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #828282;
    justify-self: center;
    align-self: center;
}
@media screen and (min-width: 620px) {
    .text {
        width: 46rem;
        height: 7rem;
        font-size: 2rem;
        line-height: 3rem;
    }
}
@media screen and (min-width: 768px) {
    .text {
        margin-top: 2rem;
        width: 63.3rem;
        height: 6.8rem;
        font-size: 2.4rem;
        line-height: 3.3rem;
    }
}
