form.form
    h2.mainText Перезвонить вам?
    p.secondText Оставьте свои контактные данные и мы свяжемся с вами в ближайшее время
    .formInput
        span
        input.form__input-phone(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
    a.btn__width(href="#openModal") Перезвонить мне
    include ../../blocks/modals/modals.pug
    .form__policy
        input.form__checkbox(type="checkbox")#modal__checkbox(checked="")
        label.form__pol(for="modal__checkbox") Вы соглашаетесь с 
            a.form__policy-link(href="#!") условиями обработки персональных данных