.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background: linear-gradient(180deg, #f8f8f8 0%, #fafafa 100%);
    border-radius: 1rem;
}
.titles_center {
}
.bgs {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background: linear-gradient(180deg, #f8f8f8 0%, #fafafa 100%);
    border-radius: 1rem;
}
